body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
}


/*headings*/

.header {
    font-size: 50px;
    font-weight: normal;
    color: white;
}

/*links*/ 

.link {
    font-size: 16px;
    color: aquamarine;
}

/*second heading*/
h2 {
    font-size: 42px;
    font-weight: 300;
    color: white;
}

h3 {
    font-size: 21px;
    color: gray;
}

#camp {
    border: 2px red solid; 
    display: block;
    justify-content: center;
}

#logo {
    display: block;
    align-content: center;
}